body {
  background: #000;
  color: #fff;
}

.app {
  text-align: center;
  padding: 5%;
}

.app .app__title {
  font-size: 2rem;
}

.app .app__prev-results {
  cursor: pointer;
  list-style: none;
}
